/* :root {
    --font-family: 'Arial', sans-serif;
  }
  
body{
    background-color: blueviolet;
    font-family: var(--font-family);
}
.container{
    background-color: #fff;
    height: 255px;
    width: 220px;
    border-radius: 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.circleimg {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .circleimg .profile {
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }
  
.text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
} */

/* .card{
 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 210px;
  height: 300px;
  margin-top: 500px;
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.container {
  padding: 2px 16px;
} */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 210px;
  height: 300px;
  margin-top: 400px;
  margin-right: 2px; 
}

.container {
  padding: 2px 16px;
}

.cards-container {
  display: flex;
  overflow-x: scroll;
  padding: 20px;
  gap: 5px; 
}


@media (max-width: 768px) {
  .card {
    width: 100%;
    height: auto;
    margin-right: 5px;
  }

  .cards-container {
    overflow-x: auto;
  }
}
